
@media (max-width: 500px){
    h1 {
        font-size: 1rem;
    }
}






/*SUCURSALES.HTML*/

/*CAROUSEL*/



/*ENVIO.HTML*/

.tituloEnvio {
    font-size: 1.5rem;
    color: white;
    text-transform: capitalize;
    padding: 10px;
}

.botonEnvio {
    border: none;
    width: 75%;
    height: 100%;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color:  #7423f7;
    color: #fafafa;
}

.botonEnvio:hover {
    background-color:  #813af3;
}

/*CONTACTOS.HTML*/

.tituloContactos {
    padding: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.labelContactos {
    color: #fafafa;
    padding: 5px;
}

.inputContactos {
    width: 30%;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.inputContactos:focus {
    border-color: #7423f7;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #7423f7;
    outline: 0 none;
}

.inputContactosSexo {
    width: 5%;
}

@media (max-width: 600px){
    .inputContactos {
        width: 100%;
    }
}
