.alto {
    height: 80vh;
    @include flex-direccion(flex, center, center);
}

.contenedorImagenes {
    justify-content: center;

    .seccionGaleria {
        width: 70vh;
        height: auto;
        background-color: $color_principal;
        padding: 1rem 4rem;
        background-size: 100% 100%;

       .cardImg {
            object-fit: cover;
            height: 100%;
       }

       .tituloTienda {
            @include flex-direccion(flex, center, center);
            
            .cardTexto {
                font-family: bailenson;
                color: $color_fuentes;
                font-size: 2.1rem;
                text-decoration: none;

                &:hover {
                    text-shadow: 0 0 50px $color_sombra;
                    color: $color_cobertura;
                    font-weight: bold;
                    font-size: 2.2rem;
                }
            }
        }
    
    }
}
.textoMobile {
    display: none;
}

//estilo del titulo de las tiendas de ropa femenina y masculina

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color_fuentes;
}

.tituloRopa {
    padding: 20px;
    font-size: 1.5rem;
}

//estilo del modal

.tituloModal {
    color: $color_principal;
    font-size: 1rem;
}